[submodule "pages/Formulario"]
	path = pages/Formulario
	url = https://github.com/sasugo1337/Formulario.git
[submodule "pages/Lista-Supermercado"]
	path = pages/Lista-Supermercado
	url = https://github.com/sasugo1337/Lista-Supermercado.git
[submodule "pages/Sing-In"]
	path = pages/Sing-In
	url = https://github.com/sasugo1337/Sing-In.git
